<template>
  <div>
    <div class="d-flex justify-content-center align-items-center flex-column">

      <div class="card mt-5">
        <div class="card-body text-center">
          <p>The project repository:</p>
          <a class="btn btn-primary" href="https://gitlab.com/kaptemn/test-task" target="_blank">Open repository</a>
        </div>
      </div>  

    </div>
  </div>
</template>
