<script lang="ts">
export default {
  data() {
    return {
      referrer: '',
      userAgent: '',
      utms: []
    }
  },
  mounted() {
    this.getData();
    this.getUTM();
  },
  methods: {
    getData() {
      this.referrer = document.referrer;
      this.userAgent = window.navigator.userAgent;
    },

    getUTM() {
      const queries = this.$route.query;
     
      //@ts-ignore
      Object.entries(queries).forEach(query => {
        if (query[0].toLowerCase().indexOf('utm') === 0) {
          this.utms.push(query);
        }
      });
    }
  },
}
</script>

<template>
  <div>
    <div class="d-flex justify-content-center align-items-center flex-column">

      <div class="card card-result">
        <div class="card-body">
          <h5 class="card-title">HTTP Data</h5>
          <table class="table">
            <tr>
              <td>HTTP Referrer</td>
              <td>{{ referrer || '<not detected>' }}</td>
            </tr>
            <tr>
              <td>User Agent</td>
              <td>{{ userAgent || '<not detected>' }}</td>
            </tr>
          </table>
        </div>
      </div>


      <div class="card mt-5 card-result">
        <div class="card-body">
          <h5 class="card-title">UTMs</h5>
          <table class="table" v-if="utms.length">
            <tr v-for="utm in utms">
              <td>{{ utm[0] }}</td>
              <td>{{ utm[1] }}</td>
            </tr>
          </table>
          <div v-else>Not found</div>
        </div>
      </div>

    </div>
  </div>
</template>
