<script lang="ts">
import "leaflet/dist/leaflet.css";

import { IPBaseClient } from '@/api/ipbase';
import type { IPBaseData } from '@/api/ipbase.interface';
import { LMap, LTileLayer } from "@vue-leaflet/vue-leaflet";
import ValidatorItem from "@/components/ValidatorItem.vue";
import { useVuelidate } from "@vuelidate/core";
import { ipAddress } from "@vuelidate/validators";

export default {
  components: {
    LMap,
    LTileLayer,
    ValidatorItem,
  },
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      form: {
        ipaddress: ''
      },
      result: null,
      map: { 
        show: false,
        lat: 40.689247, 
        lng: -74.044502,
        zoom: 12,
      },
    }
  },
  validations() {
    return {
      form: {
        ipaddress: { ipAddress },
      },
    };
  },
  methods: {
    async lookup() {
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) return;

      this.map.show = false;
      this.result = null;

      IPBaseClient.get('/info', {
        params: {
          ip: this.form.ipaddress
        }
      }).then(response => {        
        this.result = response.data.data as IPBaseData['data'];
        
        const location = this.result.location;
        if (location && location.latitude && location.longitude) {
          this.map.lat = location.latitude;
          this.map.lng = location.longitude;
        }
        
        this.map.show = true;
      }).catch(error => {
        console.log('error', error);
        this.$notify("Oops, somethings wrong from API :(");
      });
    },
  },
}
</script>

<template>
  <div>
    <div class="d-flex justify-content-center align-items-center flex-column">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">IP Lookup</h5>

          <div class="mb-3">
            <label  class="form-label">Enter IP Address:</label>
            <input type="text" class="form-control" placeholder="8.8.8.8" v-model="form.ipaddress">
            <ValidatorItem property-name="ipaddress" :errors="v$.$errors" />
          </div>

          <div class="text-center">
            <button class="btn btn-primary" @click="lookup">  
              <span>Lookup</span>
              <font-awesome-icon icon="fa-solid fa-magnifying-glass" />
            </button>
          </div>

          <p class="source">
            I am using https://app.ipbase.com/. 
            And I am using the free plan so I have limit requests to API.
          </p>
        </div>
      </div>

      <div class="card-result" v-if="result">
        <div class="card mt-5 card-result">
          <div class="card-body">
            <h5 class="card-title">Base data</h5>
            <table class="table">
              <tr v-if="result.ip">
                <td>IP Address</td>
                <td>{{ result.ip }}</td>
              </tr>
              <tr v-if="result.hostname">
                <td>Hostname</td>
                <td>{{ result.hostname }}</td>
              </tr>
              <tr v-if="result.type">
                <td>Type</td>
                <td>{{ result.type }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="card mt-5 card-result" v-if="result.connection">
          <div class="card-body">
            <h5 class="card-title">Connection</h5>
            <table class="table">
              <tr>
                <td>ASN</td>
                <td>{{ result.connection.asn }}</td>
              </tr>
              <tr>
                <td>Organization</td>
                <td>{{ result.connection.organization }}</td>
              </tr>
              <tr>
                <td>ISP</td>
                <td>{{ result.connection.isp }}</td>
              </tr>
              <tr>
                <td>Range</td>
                <td>{{ result.connection.range }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="card mt-5 card-result" v-if="result.location">
          <div class="card-body">
            <h5 class="card-title">Location</h5>
            <table class="table">
              <tr>
                <td>Latitude</td>
                <td>{{ result.location.latitude.toFixed(2) }}</td>
              </tr>
              <tr>
                <td>Longitude</td>
                <td>{{ result.location.longitude.toFixed(2) }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>
                  {{ result.location.city.name }}
                  {{ result.location.region.name }} 
                  {{ result.location.country.name }}
                  {{ result.location.country.alpha3 }}
                  {{ result.location.zip }}
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>

      <div class="card mt-5" v-if="result && result.location && map.show">
        <div class="card-body result-map">
          <h5 class="card-title">Map location</h5>
          <l-map ref="map" v-model:zoom="map.zoom" :center="[map.lat, map.lng]" :useGlobalLeaflet="false">
            <l-tile-layer
              url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
              layer-type="base"
              name="OpenStreetMap"
            ></l-tile-layer>
          </l-map>
        </div>
      </div>

    </div>
  </div>
</template>

<style lang="scss">
.card-result {
  max-width: 500px;
  width: 100%;
}
.result-map {
  height: 600px; 
  width: 600px;
}
</style>
