<script lang="ts">
import type { IPBaseData } from '@/api/ipbase.interface';
import { OpendataSoftClient } from '@/api/opendatasoft';
import ValidatorItem from "@/components/ValidatorItem.vue";
import { useVuelidate } from "@vuelidate/core";
import { required, integer, helpers } from "@vuelidate/validators";

export default {
  components: {
    ValidatorItem,
  },
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      form: {
        zipcode: '94203'
      },
      result: null
    }
  },
  validations() {
    return {
      form: {
        zipcode: { 
          required,
          integer,
          zipcode: helpers.withMessage(
            ({ $pending, $invalid, $params, $model }) => `This field must be format zipcode`,
            (value: string) => /^[0-9]{5}(?:-[0-9]{4})?$/.test(value),
          )
        },
      },
    };
  },
  methods: {
    async getData() {
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) return;

      this.result = null;

      OpendataSoftClient.get('/api/records/1.0/search/', {
        params: {
          q: this.form.zipcode,
          dataset: 'geonames-postal-code@public',
          facet: ['country_code'],
        }
      }).then(response => {
        const data = response.data;
        const records = data.records.filter(record => record?.fields?.country_code?.toUpperCase() == 'US')

        this.result = {
          ...data,
          records
        }
      }).catch((error) => {
        console.log('error', error);
        this.$notify("Oops, somethings wrong from API :(");
      })
    }
  }

}
</script>

<template>
  <div>
    <div class="d-flex justify-content-center align-items-center flex-column">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Search place by zipcode</h5>

          <div class="mb-3">
            <label class="form-label">Enter zipcode:</label>
            <input type="text" class="form-control" placeholder="94203" v-model="form.zipcode">
            <ValidatorItem property-name="zipcode" :errors="v$.$errors" />
          </div>

          <div class="text-center">
            <button class="btn btn-primary" @click="getData">
              <span>Search</span>
              <font-awesome-icon icon="fa-solid fa-magnifying-glass" />
            </button>
          </div>

          <p class="source">I am using https://data.opendatasoft.com/</p>
        </div>
      </div>

      <div class="card mt-5" v-if="result && result.records">
        <div class="card-body">

          <table class="table" v-if="result.records.length > 0">
            <thead>
              <tr>
                <th>Postal code</th>
                <th>Admin name</th>
                <th>Place name</th>
                <th>Country code</th>
                <th>Latitude</th>
                <th>Longitude</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="record in result.records">
                <td>{{ record.fields.postal_code }}</td>
                <td>{{ record.fields.admin_name1 }}</td>
                <td>{{ record.fields.place_name }}</td>
                <td>{{ record.fields.country_code }}</td>
                <td>{{ record.fields.latitude }}</td>
                <td>{{ record.fields.longitude }}</td>
              </tr>
            </tbody>
          </table>
          <div v-else>
            <h5>Not found</h5>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.source {
  font-size: 12px;
  color: #6cbfaf;
  margin-top: 15px;
}
.btn svg {
  padding-left: 8px;
}
</style>