<template>
  <nav class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <RouterLink to="/" class="text-center text-decoration-none link-dark">
      <span class="fs-4">My Test Task</span>
    </RouterLink>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <RouterLink to="/" class="nav-link">
          <font-awesome-icon icon="fa-solid fa-info" />
          Home
        </RouterLink>
      </li>
      <li class="nav-item">
        <RouterLink to="/http-data" class="nav-link">
          <font-awesome-icon icon="fa-solid fa-file" />
          HTTP Data
        </RouterLink>
      </li>
      <li class="nav-item">
        <RouterLink to="/zipcode" class="nav-link">
          <font-awesome-icon icon="fa-solid fa-location-dot" />
          Get place by zipcode
        </RouterLink>
      </li>
      <li>
        <RouterLink to="/ip-lookup" class="nav-link">
          <font-awesome-icon icon="fa-solid fa-globe" />
          IP Address Data
        </RouterLink>
      </li>
    </ul>
  </nav>
</template>
 
<style lang="scss">
.nav {
  height: 100vh;
  a {
    color: #000;
  }
}
</style>