<script lang="ts">
import type { ErrorObject } from '@vuelidate/core';

export default {
  props: {
    propertyName: String,
    errors: Array, 
  },
  data() {
    return {
      show: false,
      msg: '',
    }
  },
  watch: {
    errors() {
      this.getValidateErrors();
    }
  },
  mounted() {
    this.getValidateErrors();
  },
  methods: {
    getValidateErrors() {
      if (this.errors?.length == 0) {
        this.show = false;
        this.msg = '';
        return;
      }

      //@ts-ignore
      const error: ErrorObject = this.errors.find(error => error.$property == this.propertyName);
      if (!error) {
        this.show = false;
        this.msg = '';
        return;
      }

      let fieldName = 'This field';
      let msg = error?.$message.toString() as string;
      switch (error?.$validator) {
        case 'required':
          msg = fieldName + " is required"
          break;
        case 'ipAddress':
          msg = fieldName + " is not a valid IP address"
          break;
        default:
          msg = error?.$message.toString() as string;
          break;
      }

      this.show = true;
      this.msg = msg;
    }
  }
}
</script>

<template>
  <div class="validator-item" v-if="show">
    <div class="item-error">{{ msg }}</div>
  </div>
</template>

<style lang="scss">
.validator-item {
  .item-error {
    color: red;
    font-size: 12px;
  }
}
</style>
