<script lang="ts">
import Sidebar from './components/Sidebar.vue';

export default {
  components: {
    Sidebar
  }
}
</script>

<template>
  <div class="app-layout">
    <Sidebar />
    <main>
      <RouterView />
    </main>
    
    <notifications />
  </div>
</template>

<style lang="scss">
.app-layout {
  display: flex;
  main {
    margin-top: 20px;
    margin-left: 5px;
    width: 100%;
  }
}
</style>